---
import Layout from '../layouts/MainLayout.astro'
---
<Layout>
  <h2 class="text-2xl font-bold mb-4">Witaj na stronie głównej!</h2>
  <p>To jest treść główna. Wybierz coś z menu po lewej, by zobaczyć przejścia.</p>
</Layout>
