---
import Image from "astro/components/Image.astro";
import Logo from "../assets/logo.svg";
---

<header class="w-full h-16 bg-white border-b shadow-md fixed top-0 left-0 z-50 flex items-center px-6">
	<Image src={Logo}alt="Logo" class="w-8 h-8 mr-3" />
	<h1 class="text-xl font-bold text-gray-800">MaTails</h1>
</header>
